*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:radial-gradient(circle, #0b456b, #021c37);
}
.clock{
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: lightslategray;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #05263c, #000d1a);
}

.clock::before{
    content: "";
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(#00d9ff, #d11689);
    box-shadow: 0  0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.number{
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #00d9ff;
    text-shadow: 0 0 12px #d11689;
}
.number b{
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}
.center-dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fa8c16;
    border: 6px solid #00d9ff;
    border-radius: 50%;  
}
.hour-hand, .minute-hand, .second-hend{
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    border-radius: 30px 30px 0 0;
}
.hour-hand{
    width: 12px;
    height: 130px;
    background: linear-gradient(to top,#00d9ff, #d11689);
}


.minute-hand{
    width: 12px;
    height: 190px;
    background: linear-gradient(to top,#00d9ff, #d11689);
}

.second-hend{
    width: 6px;
    height: 210px;
    background-color: blue;

}
