*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: white;
}
h1{
   width: 100%;
    text-align:center;
}
h3{
    text-align: center;
}
p{
    
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
.flex{
    display: flex;
    

}
ul{
    list-style: none;
     padding: 10px;
     justify-content: end;
}
li{
    padding-right:30px;
    text-align: center;
    border: none;
}
.company-logo{
    z-index: 2;
}
.company-logo img{
 width: 200px;
 height: 100px;
 align-items: center;
 padding-left:30px;
 float: left;
 
}
.main-nav{
    justify-content: space-between;
    height: 50px;
    align-items: center;
    
}
.nav-toggle{
    display: none;
    padding: 5%;
    align-items: center;
    
}
.hover-link:hover{
color:#23a7c8;
text-align: center;
}
li:hover{
    border: 1px solid #23a7c8;
}
header{
    width: 100%;
    height: 440px;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 100% 100px;
    border-bottom-right-radius: 100% 100px;
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-image:url(../image/image2.jpeg);
    color: white;
    }
.header p{
            
    text-align: center;
    padding-left: 00px;
    padding-right: 00px;
    }
.header-box{
    justify-content: center;
    gap: 20px;
    padding: 280px 104px;
    height: 160px;
     z-index: 3;
     align-items: center;
}
.box1 {
    width: 200px;
    height: 210px;
    background-color: #78c3d5;

}
.box2 {
    width: 200px;
    height: 210px;
   
    background-color: rgb(138, 105, 170);
}
.box3 {
    width: 200px;
    height: 210px;
 
    background-color: #78c3d5;
 
}
.box4 {
    width: 200px;
    height: 210px;
    background-color: rgb(138, 105, 170);
}
.icon i{
    height: 50px;
    width: 100%;
   text-align: left;
    padding-top: 20px;
    font-size: 30px;
}
.icon h3{
font-size: 1em;
}
.icon p{
    padding-left: 00px;
    padding-right: 00px;
    font-size: 15px;
    height: 120px;
}
.right-icon{
    text-align: end;
}

.aboute-us-container{
    display: flex;
    padding: 54px 100px;
}
.about-us-text{
    padding-top: 5%;
}
.about-us-text h1{
    text-align: left;
    color: #23a7c8;
}

.about-us-text p {
    text-align: left;
    padding-left: 00px;
    padding-right: 00px;
}
.about-icon{
    display: flex;
    color: #23a7c8;
    
    padding-top: 20px;
    gap: 5%;
}
.about-icon i{
    font-size: 30px;
}


.icon h2{
    padding-left:10px;
    padding-top: 20px;
}
.right-text{
    padding-left: 50px;
}
.service-section{
    background-color: whitesmoke
}
.service-box1{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.service-box1 img{
    background-color: #23a7c8b4;
    width: 100%;
    height: 220px;
}
.main-consultation{
    width: 50%;
    position: relative;
}
.consultation{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #78c2d5bf;
    color: white;
}
.service p{
    padding-left: 00px;
    padding-right:00px;
}
.service-main-box{
    padding: 10% 0px;
}
.service-right-text a{
    border: 1px solid#23a7c8;
    color: #23a7c8;
}
.service-box1-right {
    display: flex;
    width: 50%;
    background-color: white;
    padding: 50px 20px;
}
.service-box1-right i{
    font-size: 20px;
    color: #23a7c8;
}
.service-right-text h2{
    color: #23a7c8;
}
.service-right-text{
    padding-left: 10px;
}
.service-right-text p{
    text-align: left;
     padding-left: 00px;
     padding-right: 00px;
     padding: 10px 0px
}
.service-box2{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.service-box2 img{
    width: 100%;
    height: 220px;
}
.service-box2-right {
    display: flex;
    width: 50%;
    background-color: white;
    padding: 50px 20px;
}
.service-box2-right i{
    font-size: 20px;
    color: #23a7c8;
}
.service-left-text h2{
    color: #23a7c8;
}
.service-left-text a{
    border: 1px solid#23a7c8;
    color: #23a7c8;
}
.service-left-text{
    padding-right: 10px;
    text-align: end;
}
.service-left-text p{
    text-align: right;
     padding-left: 00px;
     padding-right: 00px;
     padding: 10px 0px
}
.main-EMERGENCY{
    width: 50%;
    position: relative;
}
.EMERGENCY{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(138, 105, 170, 0.752);
    color: white;
}
.scrool-section{
    background-image: url(../image/IMAGE8.jpg);
    background-size: 100% 100%;;
  width: 100%;
    height: 300px;
}
.main-scrool-section{
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 300px;
}
.scrool-text{
    padding: 10% 0px 0px 10%;
    color: white;
}
.scrool-text p {
    text-align: left;
    padding-left: 00px;
    padding-right: 00px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200%;
    background-color: #bbbbbb;
}
.main-footer{
    padding: 10px 0px 0px 10px;
}
.footer-logo img{
    height: 50px;
    width: 150px;
}  
.footer-icon{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 15PX;
}
.footer-link{
    padding-top: 50px;
    padding-left: 25px;
}
.footer-icon img{
    width: 20px;
    height: 20px; 
}
.footer-center{
    flex-direction: column;
    padding-left: 10%;
}
.footer-right{
    flex-direction: column;
    padding-left: 2%;
}
.link-colum{
    padding-right: 5%;
}
.link-colum p{
    text-align: left;
    padding-left: 00px;
    padding-right: 00px
}
.link-colum u {
   padding-left: 10px;
}
.sub-footer{
    height: 50px;
    background-color: #23a7c8 ;
}
.sub-footer p{
    text-align: center;
    padding-top: 15px;
    padding-left: 00px; 
    padding-right: 00px;
}